{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="grid_4">
            <h3>Useful Information</h3>
            <figure class="img-indent box-img"><img src="assets/images/page4-img1.jpg" alt=""></figure>
            <p>
                Most of us learn to cook through trial and error, the Food Network, or being forced to feed ourselves when
                no one else will do it. So naturally, no one’s born knowing how to sauté chicken, or blanch vegetables. Here
                are some basic (but useful) cooking techniques chefs use every day, but the rest of us rarely pick up.
            </p>
            <div class="clear"></div>
        </article>
        <article class="grid_8">
            <h3><strong>{{model.title}}</strong></h3>
            <p>{{model.date}}</p>
            <p>{{model.description}}</p>
        </article>
    </div>
    <div class="clear"></div>
</section>
{{outlet}}
