{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="side-bar extra1">
            <h3><span>About</span>Our school</h3>
            <figure class="box-img img-indent1"><img src="assets/images/page5-img1.jpg" alt=""></figure>
            <div class="inner-1">
                <p>Designed for the home chef, Kitchen Window's Cooking School offers a variety of cooking classes on
                    everything from the basics to gourmet. Some of our series include: The Fundamentals of Cooking,
                    Baking Seminars, Market Tours, Global Cuisine, Meet the Chef, Grilling and Outdoor Entertaining,
                    Young Chef Classes, and Special Events. There is truly something for everyone..</p>

                <p>The goal of the program is to go beyond just teaching a recipe. We strive to teach you about the
                    tools, skills and techniques involved in the cooking process so that the knowledge learned can be
                    applied to cooking as a whole. Once you master the techniques, you can use your creativity to
                    confidently develop your own dishes.</p>
                <a href="#" class="btn">Read more</a>
            </div>
        </article>
        <article class="grid_8">
            <div class="padd-1">
                <h3>Our Teachers</h3>
            </div>
            <ul class="list-teachers">
              {{#each model as |chef|}}
                  <li>
                      <figure class="box-img"><img src="{{chef.foto.file.url}}" alt=""></figure>
                      <div class="overflow">
                        {{#link-to "chef" chef  }}
                            <h4>{{chef.teacherName}} {{chef.teacherLastName}}</h4>{{/link-to}}
                          <p>
                            <b>Levels Taught: </b>
                            <span>{{chef.levelsTaught}}</span>
                          </p>
                        {{#link-to "chef" chef class="btn" }}Read more {{/link-to}}
                      </div>
                      <div class="clear"></div>
                  </li>
              {{/each}}
            </ul>
          {{#pagination-comp  total=model.meta.total
          skip=model.meta.skip
          limit=model.meta.limit
          as |pagination| }}
            {{#link-to "chefs" (query-params limit=pagination.page.limit skip=pagination.page.skip) class=(if pagination.page.activeClass "active") }} {{pagination.page.index}} {{/link-to}}
          {{/pagination-comp}}
        </article>
        <div class="clear"></div>
    </div>
</section>
