{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="side-bar">
            <h3><span>Main</span> Courses</h3>

            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit consetetur sadipscing elitr, sed
                sadipscing nonumy eirmod tempor.</p>
            <ul class="list-1">
                <li><a href="#">invidunt ut labore</a></li>
                <li><a href="#">et dolore magna</a></li>
                <li><a href="#">aliquyam erat</a></li>
                <li><a href="#">sed diam voluptua</a></li>
                <li><a href="#">At vero eos et accusam</a></li>
                <li><a href="#">et justo duo</a></li>
            </ul>
            <p>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore.</p>
            <ul class="list-1">
                <li><a href="#">dolores duo eirmod</a></li>
                <li><a href="#">eos erat et nonumy sed</a></li>
                <li><a href="#">tempor et et</a></li>
                <li><a href="#">invidunt justo</a></li>
                <li><a href="#">labore Stet clita</a></li>
                <li><a href="#">ea et gubergren kasd</a></li>
                <li><a href="#">magna no rebum</a></li>
            </ul>
        </article>
        <article class="grid_8">
            <h3>Short Courses</h3>

            <p>General cooking courses cover a wide range of topics and range in length from just a few short units, to
                more comprehensive courses that can be followed over several weeks or even months. It's all up to you
                and your schedule. A great place to start if you are new is with our sample course, just so you can get
                a feel for our courses. These courses are included in our general membership plan.</p>
            <a href="#" class="btn">Read more</a>

            <div class="padd-1">
                <h3>Our Teachers</h3>
            </div>
            total: {{model.culinaryTeachers.meta.total}}
            skip: {{model.culinaryTeachers.meta.skip}}
            limit: {{model.culinaryTeachers.meta.limit}}
            <ul class="list-teachers">
              {{#each model.culinaryTeachers as |teacher|}}
                  <li>
                      <figure class="box-img"><img src="{{teacher.foto.file.url}}" alt=""></figure>
                      <div class="overflow">
                        {{#link-to "culinary-teachers" teacher (query-params direction="asc") }}
                          <h4>{{teacher.teacherName}} {{teacher.teacherLastName}}</h4>{{/link-to}}
                          <b>Levels Taught: </b>
                          <span>{{teacher.levelsTaught}}</span><br/>
                        {{#link-to "culinary-teachers" teacher class="btn" }}Read more {{/link-to}}
                      </div>
                      <div class="clear"></div>
                  </li>
              {{/each}}
            </ul>
            
            {{#each pagination 
                total=model.culinaryTeachers.meta.total
                skip=model.culinaryTeachers.meta.skip
                limit =model.culinaryTeachers.meta.limit  as |teacher|}}
              <li>
                  {{teacher.limit}}
              </li>
            {{/each}}
        </article>
        <div class="clear"></div>
    </div>
</section>

