{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="grid_12">
            <h3>{{model.title}}</h3>
            <img src="{{model.image.file.url}}" alt="">

            <p>{{model.description}}</p>
            <h4>Objectives</h4>
            <ul>
              {{#each model.objectives as |objective|}}
                  <li>{{objective}}</li>
              {{/each}}
            </ul>
            <h4>Unit:</h4>

            <p>title: {{model.unit.title}}</p>

            <p>description: {{model.unit.description}}</p>

            <p>image: <img src="{{model.unit.image.file.url}}" alt=""></p>
        </article>
    </div>
    <div class="clear"></div>
</section>
{{outlet}}
