{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="side-bar">
            <h3>Short Courses</h3>
            <p>General cooking courses cover a wide range of topics and range in length from just a few short units, to
                more comprehensive courses that can be followed over several weeks or even months. It's all up to you
                and your schedule. A great place to start if you are new is with our sample course, just so you can get
                a feel for our courses. These courses are included in our general membership plan.</p>
        </article>
        <article class="grid_8">
            <h3><span>Main courses</span> </h3>
            <p>Courses offer students a guided-path through our instructional lesson content, practice recipes,
                exercises, and additional education learning modules. Courses cover broader cooking subject matter,
                include more robust assessment features, and provide students with a "Certificate of Completion" upon
                graduating. If you'd prefer to follow your own path, then watching lessons might be the right path for
                you.</p>
            <ul class="list-2">
              {{#each model.courses as |course|}}
                  <li>

                    {{#link-to "course" course }}
                        <h3>{{course.title}}</h3>{{/link-to}}
                      <figure class="box-img"><img src="{{course.image.file.url}}" alt=""></figure>
                      <!--<p>{{course.description}}</p>-->
                  </li>
              {{/each}}
            </ul>
          {{#each pagination
          total=model.culinaryTeachers.meta.total
          skip=model.culinaryTeachers.meta.skip
          limit =model.culinaryTeachers.meta.limit  as |teacher|}}
              <li>
                {{teacher.limit}}
              </li>
          {{/each}}
        </article>
        <div class="clear"></div>
    </div>
</section>

