{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="side-bar">
            <h3>Short Courses</h3>
            <p>General cooking courses cover a wide range of topics and range in length from just a few short units, to
                more comprehensive courses that can be followed over several weeks or even months. It's all up to you
                and your schedule. A great place to start if you are new is with our sample course, just so you can get
                a feel for our courses. These courses are included in our general membership plan.</p>
        </article>
        <article class="grid_8">
            <div class="course">
              <h3>{{model.title}}</h3>
              <figure class="box-img"><img src="{{model.image.file.url}}" alt=""></figure>
              <h4>Description</h4>
              <p>{{model.description}}</p>
              <h4>Objectives</h4>
              <ul>
                {{#each model.objectives as |objective|}}
                    <li>{{objective}}</li>
                {{/each}}
              </ul>
              <h4>Unit: {{model.unit.title}}</h4>
              <div class="container_8 unit">
                  <div class="grid_5 file">
                      <figure class="box-img"><img src="{{model.unit.image.file.url}}" alt=""></figure>
                  </div>
                  <div class="grid_7 disc">
                    {{model.unit.description}}
                  </div>
                  <div class="clear"></div>
              </div>
            </div>
        </article>
    </div>
    <div class="clear"></div>
</section>
{{outlet}}
