{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="grid_8">
          <figure class="box-img"><img src="{{model.foto.file.url}}" alt=""></figure>
          <div class="overflow">
              <h4>{{model.teacherName}} {{model.teacherLastName}}</h4>
              <b>Cooking</b>
              <p>{{model.cooking}}</p>
              <b>Levels Taught</b>
              <p>{{model.levelsTaught}}</p>
              <b>Overview</b>
              <p>{{model.overview}}</p>
          </div>
          <div class="clear"></div>
        </article>
        <div class="clear"></div>
    </div>
</section>

