Model
<p><b>{{ model.title.enUS }}</b></p>
<p>lat:<b>{{ model.locationFeildMy.enUS.lat }}</b></p>
<p>lon:<b>{{ model.locationFeildMy.enUS.lon }}</b></p>
<p>jsonObjectFieldMy:<b>{{ model.jsonObjectFieldMy.enUS }}</b></p>
{{outlet}}
