{{header-site sliders=model.sliderRotators visible=true  }}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12 row-1">
      {{#each model.recipes as |recipe|}}
          <article class="grid_4 thumbnail-1">
              <h3>{{#link-to "recipe" recipe }}<span>{{recipe.title}}</span>{{/link-to}}</h3>
            {{#link-to "recipe" recipe }}
                <figure class="box-img main-page"><img src="{{recipe.image.file.url}}" alt=""></figure>
            {{/link-to}}
              <p>{{recipe.description}}</p>
            {{#link-to "recipe" recipe class="btn"}}Read more{{/link-to}}
          </article>
      {{/each}}
        <div class="clear"></div>
    </div>
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="grid_4">
            <h3>Hot news</h3>
            <ul class="list-popular">
              {{#each model.news as |news|}}
                  <li>
                    {{#link-to "news" news }} {{news.title}}{{/link-to}}
                      <p>{{news.description}}</p>
                  </li>
              {{/each}}
            </ul>
        </article>
        <article class="grid_8">
            <h3>Professional programs</h3>
            <blockquote class="quote-1"> Whether you're a serious home cook or a culinary school hopeful looking to
                sharpen your cooking skills at home, our online cooking classes will put you on the right path. Written
                by professional chefs, each lesson features up-to-date culinary tips and advice, not to mention tasty
                recipes. Topics include basic cooking techniques, seafood, meat and vegetable preparation, wine, and
                more.
            </blockquote>
            <div class="name-author">- James Willis</div>
            <ul class="list-dropcap">
              {{#each model.courses as |course|}}
                  <li>
                      <div class="wrapper">
                          <div class="dropcap">A</div>
                        {{#link-to "course" course }}{{course.title}}{{/link-to}}
                      </div>
                      <figure class="box-img"><img src="{{course.image.file.url}}" alt=""></figure>
                  </li>
              {{/each}}
            </ul>
        </article>
        <div class="clear"></div>
    </div>
</section>
