{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="side-bar extra">
            <h3><strong>3</strong> Steps <em>To become<br>
                a perfect cook</em></h3>
            <ul class="list-dropcap1">
                <li>
                    <div class="wrapper">
                        <div class="dropcap">1</div>
                        <h4>Enter our <br>
                            school</h4>
                    </div>
                    <p>At vero eos et accusam justo duo dolores et ea Stet clita kasd gubergren.</p></li>
                <li>
                    <div class="wrapper">
                        <div class="dropcap">2</div>
                        <h4>Education
                            Courses</h4>
                    </div>
                    <p>takimata snctus Lorem ipsum dolor sit am Lorem ipsum dolor sit consetetur.</p></li>
                <li>
                    <div class="wrapper">
                        <div class="dropcap">3</div>
                        <h4>Practical
                            Training</h4>
                    </div>
                    <p>sadipscing elitsed diaonumy eirmod tempor duo dolores et ea rebum. Stet clita.</p></li>
            </ul>
        </article>
        <article class="grid_8 recipe">
            <h3><span>{{model.title}}</span></h3>
            <figure class="box-img"><img src="{{model.image.file.url}}" alt=""></figure>
            <div class="overflow">
                <p>{{model.description}}</p>
                <h4>Cooking time: <span>{{model.preparationTime}}</span></h4>
                <h4>Ingredients:</h4>
                <ul>
                  {{#each model.ingredients as |ingredient|}}
                      <li>{{ingredient}}</li>
                  {{/each}}
                </ul>
                <h4>Preparation:</h4>
                <p>{{model.preparation}}</p>
                <div>{{{model.video}}}</div>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</section>
{{outlet}}

